name: Build PS2 Atari 2600 Emulator

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    container:
      image: ps2dev/ps2dev:latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        apk add make git
    
    - name: Compile
      run: |
        export PS2SDK=/usr/local/ps2dev/ps2sdk
        export GSKIT=/usr/local/ps2dev/gsKit
        export PATH=$PATH:/usr/local/ps2dev/bin:/usr/local/ps2dev/ee/bin:/usr/local/ps2dev/iop/bin
        make
    
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: atari2600-ps2
        path: atari2600.elf
